/* reset styles */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    color: rgb(32, 49, 112);
    font-family: "Gilroy Medium";
}

/* --------- end reset styles -------------- */

/* default  */

body {

    &.lock {
        overflow: hidden;
    }

    scroll-behavior: smooth;
    background-color: rgb(255, 255, 255);


    .wrapper {
        margin: 0 auto;
        position: relative;
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        max-width: 1440px;
    }
}

[class*="__container"] {
    position: relative;

    padding: 0 130px;
}


// ---------- FONT

@font-face {
    font-family: "Gilroy Extrabold";
    src: url(../fonts/gilroy/gilroy-extrabold.ttf);
    src: url(../fonts/gilroy/gilroy-extrabold.woff);
    font-weight: bold;
}

@font-face {
    font-family: "Gilroy Medium";
    src: url(../fonts/gilroy/gilroy-medium.ttf);
    src: url(../fonts/gilroy/gilroy-medium.woff);
    font-weight: 500;
}

@font-face {
    font-family: "Gilroy Semibold";
    src: url(../fonts/gilroy/gilroy-semibold.ttf);
    src: url(../fonts/gilroy/gilroy-semibold.woff);
    font-weight: normal;
}

@import url(https://fonts.googleapis.com/css?family=Tenor+Sans:regular,&display=swap);
@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:500,&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat:500,&display=swap);

// ---------------------------------------------------

h1 {
    font-family: "Gilroy Medium";
    color: rgb(32, 49, 112);
    line-height: clamp(59px, 7vw, 102px);
    font-size: clamp(42px, 7vw, 100px);
}

h2 {
    color: rgb(32, 49, 112);
    font-family: "Gilroy Medium";
    font-weight: 500;
    line-height: 100%;
    font-size: clamp(44px, 5.56vw, 80px);
}

h3 {
    color: rgb(32, 49, 112);
    font-family: "Gilroy Medium";
    font-size: 48px;
    line-height: 100%;
    font-size: clamp(34px, 3.33vw, 48px);
}

h4 {
    color: rgb(255, 255, 255);
    font-family: "Gilroy Medium";
    font-size: 30px;
    line-height: 32px;
}

h5 {
    color: rgb(255, 255, 255);
    font-family: "Gilroy Medium";
    font-weight: 500;
    line-height: 107%;
    font-size: clamp(30px, 4.17vw, 60px);
}

p {
    color: rgb(102, 112, 133);
    font-family: "Gilroy Medium";
    line-height: 24px;
    font-size: clamp(17px, 4vw, 18px);
}

li a {
    color: rgb(21, 21, 21);
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.link {

    transition: all 0.5s;
    -webkit-transition: all 0.5s;

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        transition: all 0.25s;
        -webkit-transition: all 0.25s;
        box-shadow: none;
        transform: scale(0.98);
    }
}

.btn {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    max-width: 186px;
    height: 60px;
    width: 100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        transition: all 0.25s;
        -webkit-transition: all 0.25s;
        box-shadow: none;
        transform: scale(0.98);
    }
}

%whiteBtn {
    border: 1.5px solid rgb(32, 49, 112);
    border-radius: 70px;
    background: rgb(255, 255, 255);
    color: rgb(32, 49, 112);
    font-family: "Gilroy Semibold";
    font-size: 17px;
    line-height: 30px;
}

%blueBtn {
    border-radius: 70px;
    background: rgb(32, 49, 112);
    color: rgb(255, 255, 255);
    font-family: "Gilroy Semibold";
    font-size: 17px;
    line-height: 30px;
}

/* Arrows */
.splide__arrow {
    width: 48px;
    height: 48px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    cursor: pointer;
    line-height: 0;
    display: block;
    padding: 0;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 10;
    border-radius: 50px;

    &:active {
        opacity: 0.7;
    }

    &:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
}