/* reset styles */
@import url(https://fonts.googleapis.com/css?family=Tenor+Sans:regular,&display=swap);
@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:500,&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat:500,&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  color: rgb(32, 49, 112);
  font-family: "Gilroy Medium";
}

/* --------- end reset styles -------------- */
/* default  */
body {
  scroll-behavior: smooth;
  background-color: rgb(255, 255, 255);
}
body.lock {
  overflow: hidden;
}
body .wrapper {
  margin: 0 auto;
  position: relative;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 1440px;
}

[class*=__container] {
  position: relative;
  padding: 0 130px;
}

@font-face {
  font-family: "Gilroy Extrabold";
  src: url(../fonts/gilroy/gilroy-extrabold.ttf);
  src: url(../fonts/gilroy/gilroy-extrabold.woff);
  font-weight: bold;
}
@font-face {
  font-family: "Gilroy Medium";
  src: url(../fonts/gilroy/gilroy-medium.ttf);
  src: url(../fonts/gilroy/gilroy-medium.woff);
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy Semibold";
  src: url(../fonts/gilroy/gilroy-semibold.ttf);
  src: url(../fonts/gilroy/gilroy-semibold.woff);
  font-weight: normal;
}
h1 {
  font-family: "Gilroy Medium";
  color: rgb(32, 49, 112);
  line-height: clamp(59px, 7vw, 102px);
  font-size: clamp(42px, 7vw, 100px);
}

h2 {
  color: rgb(32, 49, 112);
  font-family: "Gilroy Medium";
  font-weight: 500;
  line-height: 100%;
  font-size: clamp(44px, 5.56vw, 80px);
}

h3 {
  color: rgb(32, 49, 112);
  font-family: "Gilroy Medium";
  font-size: 48px;
  line-height: 100%;
  font-size: clamp(34px, 3.33vw, 48px);
}

h4 {
  color: rgb(255, 255, 255);
  font-family: "Gilroy Medium";
  font-size: 30px;
  line-height: 32px;
}

h5 {
  color: rgb(255, 255, 255);
  font-family: "Gilroy Medium";
  font-weight: 500;
  line-height: 107%;
  font-size: clamp(30px, 4.17vw, 60px);
}

p {
  color: rgb(102, 112, 133);
  font-family: "Gilroy Medium";
  line-height: 24px;
  font-size: clamp(17px, 4vw, 18px);
}

li a {
  color: rgb(21, 21, 21);
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.link {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.link:hover {
  transform: scale(1.1);
}
.link:active {
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

.btn {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  max-width: 186px;
  height: 60px;
  width: 100%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.btn:hover {
  transform: scale(1.1);
}
.btn:active {
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

.footer .footer__btn-mob, .footer .footer__btn, .info .info__btn, .getCourse .getCourse__side .getCourse__btn, .author .author__btn, .proposal .proposal__btn, .points .points__blue_card .points__btn, .primary .primary__buttons .primary__whiteBtn {
  border: 1.5px solid rgb(32, 49, 112);
  border-radius: 70px;
  background: rgb(255, 255, 255);
  color: rgb(32, 49, 112);
  font-family: "Gilroy Semibold";
  font-size: 17px;
  line-height: 30px;
}

.popup__bl .popup button, .profit .profit__blueBtn_mob, .profit .profit__blueBtn, .primary .primary__buttons .primary__blueBtn {
  border-radius: 70px;
  background: rgb(32, 49, 112);
  color: rgb(255, 255, 255);
  font-family: "Gilroy Semibold";
  font-size: 17px;
  line-height: 30px;
}

/* Arrows */
.splide__arrow {
  width: 48px;
  height: 48px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  cursor: pointer;
  line-height: 0;
  display: block;
  padding: 0;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  z-index: 10;
  border-radius: 50px;
}
.splide__arrow:active {
  opacity: 0.7;
}
.splide__arrow:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.header .header__container {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  z-index: 1;
}
.header .header__logo {
  margin-top: 7px;
  position: relative;
  max-width: 224px;
  width: 100%;
}
.header .header__menu-list {
  display: flex;
  gap: 50px;
}
.header .header__btn {
  border-radius: 70px;
  background: linear-gradient(140.31deg, rgb(217, 178, 39) 7.148%, rgb(253, 65, 65) 91.752%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 181px;
  width: 100%;
  height: 60px;
  color: rgb(255, 255, 255);
  font-family: "Gilroy Semibold";
  font-size: 17px;
  line-height: 30px;
}
.header .header__logo-menu {
  display: none;
}
.header .header__btn-menu {
  display: none;
}
.header .header__burgerIcon {
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
  display: none;
}
.header .menuText {
  display: none;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  transition: opacity 0.5s;
  z-index: 1;
  padding: 9px 26px;
  box-sizing: border-box;
  border: 1px solid rgba(32, 49, 112, 0.3);
  border-radius: 70px;
  color: rgb(32, 49, 112);
  font-family: "Gilroy Semibold";
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}
.header .header__burgerIcon.active .menuText {
  opacity: 0;
}
.header .menuIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-115%, 0%);
  visibility: hidden;
  border-radius: 11px;
  padding: 10px 10px;
  display: none;
}
.header .header__burgerIcon.active .menuIcon {
  visibility: visible;
}

.primary .primary__headline {
  margin-top: 80px;
  text-align: center;
}
.primary .primary__subtitle {
  color: rgb(21, 21, 21);
  font-family: "Gilroy Medium";
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-top: 27px;
}
.primary .primary__buttons {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-top: 33px;
}
.primary .primary__buttons .primary__blueBtn {
  max-width: 231px;
  width: 100%;
}
.primary .primary__buttons .primary__whiteBtn {
  max-width: 231px;
  width: 100%;
}
.primary .primary__details {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.primary .primary__details .primary__details_num {
  background: linear-gradient(140.31deg, rgb(217, 178, 39), rgb(253, 65, 65));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: "Plus Jakarta Sans";
  font-size: 42px;
  line-height: 62px;
}
.primary .primary__details .primary__details_desc {
  color: rgb(24, 24, 27);
  font-size: 15px;
  line-height: 18px;
}
.primary .primary__details .primary__details_pic {
  content: url("../images/lines.svg");
  display: inline-block;
  padding: 0 10px;
}
.primary .primary__img {
  margin-top: 30px;
  width: 100%;
  max-width: 1190px;
  height: auto;
}
.primary .primary__img_mob {
  display: none;
  width: 100%;
  max-width: 379px;
  height: auto;
}
.primary .primary__info {
  display: grid;
  gap: 17px;
  margin-top: -40px;
  grid-template-columns: 1fr 1fr 1fr;
}
.primary .primary__info_item {
  box-sizing: border-box;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 30px;
  background: rgb(255, 255, 255);
  text-align: center;
  padding: 26px;
}
.primary .primary__info_item .pic-1::before {
  content: "";
  background-image: url(../images/pic-1.svg);
  width: 55px;
  height: 55px;
  display: inline-block;
}
.primary .primary__info_item .pic-2::before {
  content: "";
  background-image: url(../images/pic-2.svg);
  width: 55px;
  height: 55px;
  display: inline-block;
}
.primary .primary__info_item .pic-3::before {
  content: "";
  background-image: url(../images/pic-3.svg);
  width: 55px;
  height: 55px;
  display: inline-block;
}
.primary .primary__info_item .primary__info_title {
  color: rgb(16, 24, 40);
  font-family: "Gilroy Semibold";
  font-size: 28px;
  line-height: 30px;
  margin-top: 12px;
}
.primary .primary__info_item .primary__info_text {
  margin-top: 16px;
}

.course {
  margin-top: 120px;
}
.course .course__heading {
  text-align: center;
  margin-bottom: 50px;
}
.course .course__video {
  position: relative;
  aspect-ratio: 2/1;
}
.course .course__video video {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow-clip-margin: content-box;
  overflow: clip;
}
.course .course__video .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.course .course__video .play-button::before {
  content: "";
  color: white;
  width: 85px;
  height: 85px;
  background-image: url("../images/play-btn.svg");
  background-repeat: no-repeat;
  display: inline-block;
}
.course .course__video video.playing + .play-button {
  display: none;
}
.course .course__info {
  border-radius: 50px;
  background: linear-gradient(135deg, rgba(38, 255, 255, 0.03) 25%, rgba(32, 49, 112, 0.15) 100%), rgb(32, 49, 112);
}
.course .course__info_block {
  margin-top: -90px;
  padding: 148px 95px 56px;
}
.course .course__info_block .info-item__title {
  margin-bottom: 20px;
}
.course .course__info_block .course__item_text {
  color: rgb(255, 255, 255);
  opacity: 0.8;
}

.info-block {
  display: flex;
  gap: 90px;
}
.info-block .info-item__num {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 40px;
  width: 55px;
  height: 55px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.info-block .info-item__num span {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.1);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: "Gilroy Extrabold";
  font-size: 17px;
  line-height: 18.13px;
}
.info-block .info-item__title {
  margin-bottom: 20px;
}

.profit {
  margin-top: 120px;
}
.profit .profit__headline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.profit .profit__blueBtn_mob {
  display: none;
}
.profit .profit__info_block .profit__info_item {
  position: relative;
}
.profit .profit__info_block .profit__info_item .profit__info_num {
  position: relative;
  box-sizing: border-box;
  border: 1px solid rgba(32, 49, 112, 0.2);
  border-radius: 40px;
}
.profit .profit__info_block .profit__info_item .profit__info_num span {
  box-sizing: border-box;
  border: 1px solid rgba(32, 49, 112, 0.05);
  border-radius: 40px;
  background: rgb(32, 49, 112);
}
.profit .profit__info_block .profit__info_item .profit__info_num .item-line {
  content: "";
  display: block;
  width: 354px;
  border-bottom: 1px dashed rgb(210, 214, 226);
  position: absolute;
  top: 50%;
  left: 110%;
}
.profit .profit__info_block .profit__info_item .profit__info_title {
  color: rgb(32, 49, 112);
}

.points {
  margin-top: 120px;
}
.points .points__heading {
  margin-bottom: 50px;
  text-align: center;
}
.points .points__cards_wrapp {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}
.points .points-card {
  border-radius: 20px;
  padding: 40px;
  gap: 30px;
  display: flex;
  flex-direction: column;
}
.points .points__white_card {
  background: rgb(249, 248, 254);
}
.points .points__white_card .points__white_subtitle {
  color: rgb(32, 49, 112);
  opacity: 0.8;
}
.points .points__white_card .points__note {
  border: 1px solid rgba(57, 77, 208, 0.2);
  border-radius: 10px;
  background: rgb(84, 189, 149);
  padding: 17px 36px 17px 5px;
  display: flex;
  align-items: center;
  position: relative;
}
.points .points__white_card .points__note .points__note-pic {
  max-width: 138px;
  height: 179px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0px, 20%);
}
.points .points__white_card .points__note .points__note-pic img {
  width: 100%;
  height: 100%;
}
.points .points__white_card .points__note .points__note-desc {
  font-size: 17px;
  color: rgb(255, 255, 255);
  margin-left: 32%;
}
.points .points__blue_card {
  position: relative;
  background: rgb(33, 49, 112);
}
.points .points__blue_card .points__img-one {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-140%, 130%);
}
.points .points__blue_card .points__img-two {
  width: 84px;
  height: 84px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(25%, 100%);
}
.points .points__blue_card .points__blue_title {
  color: rgb(255, 255, 255);
}
.points .points__blue_card .points__blue_subtitle {
  color: rgb(255, 255, 255);
  opacity: 0.8;
  font-size: 17px;
}
.points .points__blue_card .points__btn {
  margin-top: 23px;
}
.points .points__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.points .points__list .points__elem {
  display: flex;
  align-items: center;
  gap: 12px;
}
.points .points__list .red-elem {
  color: rgb(32, 49, 112);
  font-family: "Gilroy Semibold";
  font-size: 17px;
  line-height: 20px;
  opacity: 0.8;
}
.points .points__list .red-elem::before {
  content: "";
  width: 22px;
  height: 22px;
  background-image: url("../images/cercle.svg");
  background-repeat: no-repeat;
  display: inline-block;
  padding: 12px;
}
.points .points__list .green-elem {
  color: rgb(255, 255, 255);
  opacity: 0.8;
  font-family: "Gilroy Semibold";
  font-size: 17px;
  line-height: 20px;
}
.points .points__list .green-elem::before {
  content: "";
  width: 22px;
  height: 22px;
  background-image: url("../images/green-cercle.svg");
  background-repeat: no-repeat;
  display: inline-block;
  padding: 12px;
}

.proposal {
  margin-top: 120px;
}
.proposal .proposal__content {
  border-radius: 50px;
  background: linear-gradient(220.84deg, rgb(57, 77, 208) -5.052%, rgb(84, 189, 149) 67.192%, rgb(219, 229, 250) 100%);
  padding: 110px 125px 80px;
}
.proposal .proposal__heading {
  text-align: center;
  margin-bottom: 40px;
}
.proposal .proposal__btn {
  color: rgb(40, 149, 137);
  border: 1.5px solid rgb(255, 255, 255);
  margin: 0 auto;
}

.author {
  margin-top: 120px;
}
.author .author__container {
  display: flex;
  gap: 77px;
  align-items: center;
}
.author .author__photo {
  aspect-ratio: 1/1;
  max-width: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
.author .author__photo img {
  height: 100%;
  width: 100%;
}
.author .author__desc {
  color: rgb(32, 49, 112);
  font-family: "Gilroy Semibold";
  font-size: 17px;
  line-height: 41px;
  opacity: 0.8;
}
.author .author__heading {
  color: rgb(32, 49, 112);
  font-family: "Gilroy Semibold";
  line-height: 61px;
  font-size: clamp(31px, 4vw, 60px);
  margin-top: 10px;
}
.author .author__list {
  margin-bottom: 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.author .author__list .author__item {
  color: rgb(102, 112, 133);
  font-family: "Gilroy Medium";
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.author .author__list .author__item::before {
  content: "";
  width: 22px;
  height: 22px;
  background-image: url("../images/green-cercle.svg");
  background-repeat: no-repeat;
  display: inline-block;
  padding: 12px;
}
.author .author__btn {
  max-width: 272px;
}

.getCourse {
  margin-top: 120px;
}
.getCourse .getCourse__heading {
  margin-bottom: 40px;
}
.getCourse .getCourse__content {
  position: relative;
  border-radius: 20px;
  background: rgb(33, 49, 112);
  padding: 40px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  gap: 58px;
}
.getCourse .getCourse__top {
  grid-column: 1;
  grid-row: 1;
}
.getCourse .getCourse__top .getCourse__title {
  margin-bottom: 25px;
  font-size: 38px;
  line-height: 120%;
  font-size: clamp(29px, 4vw, 38px);
}
.getCourse .getCourse__top .getCourse__subtitle {
  color: rgb(255, 255, 255);
  font-family: "Gilroy Semibold";
  line-height: 120%;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  padding: 10px 20px;
}
.getCourse .getCourse__bottom {
  grid-column: 1/span 2;
  grid-row: 2;
  display: flex;
  gap: 17px;
  align-items: center;
  width: 60%;
}
.getCourse .getCourse__bottom .getCourse__bottom-img {
  max-width: 120px;
  height: 53px;
  aspect-ratio: 2.26/1;
}
.getCourse .getCourse__bottom .getCourse__bottom-img img {
  width: 100%;
  height: 100%;
}
.getCourse .getCourse__bottom .getCourse__bottom-slogan {
  color: rgb(255, 255, 255);
  opacity: 0.8;
  width: 65%;
}
.getCourse .getCourse__side {
  grid-column: 2;
  grid-row: 1;
  margin-left: auto;
}
.getCourse .getCourse__side .getCourse__price {
  color: rgb(255, 255, 255);
  font-family: "Gilroy Semibold";
  font-size: 107.12px;
  line-height: 120%;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 98.97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 15vw;
}
.getCourse .getCourse__side .getCourse__price span {
  font-family: "Gilroy Medium";
  font-size: 28px;
  line-height: 34px;
}
.getCourse .getCourse__side .getCourse__img-one {
  position: absolute;
  top: 0;
  right: 0%;
  transform: translate(-250%, -50%);
}
.getCourse .getCourse__side .getCourse__img-two {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, 5%);
}
.getCourse .getCourse__side-text {
  font-size: 14px;
  color: rgb(255, 255, 255);
  opacity: 0.3;
  width: 60%;
  grid-column: 2;
  grid-row: 2;
  display: flex;
  align-items: end;
}

.practices {
  margin-top: 120px;
}
.practices .practices__heading {
  text-align: center;
  width: 55%;
  margin: 0 auto;
}
.practices .practices__content {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}
.practices .practices__item {
  border-radius: 20px;
}
.practices .item-white {
  background: rgb(249, 248, 254);
}
.practices .item-green {
  background: rgb(84, 189, 149);
}
.practices .practices__video {
  position: relative;
  aspect-ratio: 1.38/1;
}
.practices .practices__video video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow-clip-margin: content-box;
  overflow: clip;
}
.practices .practices__video .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.practices .practices__video .play-button::before {
  content: "";
  color: white;
  width: 85px;
  height: 85px;
  background-image: url("../images/play-btn.svg");
  background-repeat: no-repeat;
  display: inline-block;
}
.practices .practices__video video.playing + .play-button {
  display: none;
}
.practices .practices__info {
  padding: 40px;
}
.practices .title-light {
  color: rgb(255, 255, 255);
}
.practices .practices__text {
  margin-top: 30px;
}
.practices .text-light {
  color: rgb(255, 255, 255);
}

.feedback {
  margin-top: 120px;
}
.feedback .feedback__heading {
  margin-bottom: 40px;
}
.feedback .splide {
  position: relative;
}
.feedback .splide .splide__track {
  overflow: hidden;
}
.feedback .splide .splide__list {
  display: flex;
}
.feedback .splide .splide__list .splide__slide {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  flex-shrink: 0;
  box-sizing: border-box;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 30px;
  background: rgb(255, 255, 255);
  padding: 25px;
  text-align: center;
}
.feedback .splide .splide__list .splide__slide .feedback__slide-img {
  margin: 0 auto;
  max-width: 140px;
  -o-object-fit: cover;
     object-fit: cover;
}
.feedback .splide .splide__list .splide__slide .feedback__slide-img img {
  width: 100%;
  height: 100%;
}
.feedback .splide .splide__list .is-active {
  opacity: 1;
}
.feedback .splide .splide__arrow--prev {
  rotate: 180deg;
  right: 0%;
  transform: translate(160%, 200%);
  top: 0%;
  background: no-repeat;
  border: 1px solid rgba(57, 78, 208, 0.2);
  border-radius: 14px;
  filter: brightness(0) saturate(100%) invert(47%) sepia(86%) saturate(6945%) hue-rotate(229deg) brightness(86%) contrast(88%);
}
.feedback .splide .splide__arrow--prev svg {
  width: 18px;
  height: 18px;
}
.feedback .splide .splide__arrow--next {
  top: 0%;
  right: 0%;
  transform: translate(0%, -200%);
  background: no-repeat;
  border: 1px solid rgba(57, 78, 208, 0.2);
  border-radius: 14px;
  filter: brightness(0) saturate(100%) invert(47%) sepia(86%) saturate(6945%) hue-rotate(229deg) brightness(86%) contrast(88%);
}
.feedback .splide .splide__arrow--next svg {
  width: 18px;
  height: 18px;
}

.program {
  margin-top: 120px;
}
.program .program__content {
  margin-top: 40px;
  border-radius: 20px;
  background: rgb(249, 248, 254);
  padding: 40px;
}
.program .accordion {
  cursor: pointer;
  border-top: 2px solid rgba(57, 78, 208, 0.15);
  padding: 37px 0;
}
.program .accordion:first-child {
  border-top: none;
}
.program .accordion-header {
  border: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
}
.program .accordion-header li {
  display: flex;
  align-items: center;
  gap: 30px;
}
.program .accordion-header li p {
  color: rgb(32, 49, 112);
  font-family: "Gilroy Medium";
  font-size: 40px;
  line-height: 100%;
  font-size: clamp(28px, 4vw, 48px);
}
.program .accordion-body {
  color: #444;
  font-size: 14px;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s;
}
.program .accordion-body.active {
  height: 100%;
  opacity: 1;
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.program .accordion-body li {
  color: rgb(102, 112, 133);
  font-family: "Gilroy Medium";
  font-size: 16px;
  line-height: 19px;
  opacity: 0.8;
}
.program .accordion__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(33, 49, 112);
  border-radius: 13px;
  width: 48px;
  height: 48px;
}
.program .arrow {
  transition: transform 0.2s linear;
  rotate: -90deg;
  width: 30px;
  height: 30px;
  filter: brightness(0) saturate(100%) invert(97%) sepia(100%) saturate(0%) hue-rotate(24deg) brightness(103%) contrast(105%);
}
.program .accordion:has(.active) .arrow {
  transform: rotate(180deg);
}

.info {
  margin-top: 120px;
}
.info .info__blue-bl {
  position: relative;
  z-index: 2;
  border-radius: 50px;
  padding: 60px 95px;
  background: radial-gradient(33% 50% at 50% 50%, rgba(38, 255, 255, 0.03), rgba(32, 49, 112, 0.15) 100%), rgb(32, 49, 112);
}
.info .info__text {
  color: rgb(255, 255, 255);
  opacity: 0.8;
}
.info .info__gradient-bl {
  padding: 160px 125px 80px;
  margin-top: -80px;
  border-radius: 50px;
  background: linear-gradient(220.84deg, rgb(57, 77, 208) -4.997%, rgb(84, 189, 149) 67.21%, rgb(219, 229, 250) 100%);
}
.info .info__heading {
  margin-bottom: 20px;
  text-align: center;
}
.info .info__subtitle {
  margin-bottom: 30px;
  color: rgb(255, 255, 255);
  opacity: 0.8;
  text-align: center;
}
.info .info__btn {
  border: 1.5px solid rgb(255, 255, 255);
  margin: 0 auto;
  color: rgb(40, 149, 137);
}

.footer {
  margin-top: 80px;
}
.footer .footer__container {
  padding: 70px 130px 20px;
  background: rgb(33, 49, 112);
}
.footer .footer__logo {
  height: 65px;
  max-width: 317px;
  width: 22vw;
}
.footer .footer__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;
}
.footer .footer__contacts {
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  padding: 40px 0 26px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 147px;
}
.footer .footer__mail-subject {
  color: rgb(255, 255, 255);
  margin-bottom: 18px;
}
.footer .footer__mail-adress {
  color: rgb(255, 255, 255);
  font-family: "Gilroy Semibold";
  font-size: 34px;
  line-height: 24px;
  font-size: clamp(20px, 2.36vw, 34px);
}
.footer .footer__nav-menu .footer__nav-subject {
  margin-bottom: 18px;
  color: rgb(255, 255, 255);
}
.footer .footer__nav-menu .footer__nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 0;
  width: 80%;
}
.footer .footer__nav-item a {
  color: rgb(255, 255, 255);
  font-family: "Gilroy Medium";
  font-size: 16px;
  line-height: 40px;
  opacity: 0.8;
}
.footer .footer__btn-mob {
  display: none;
}
.footer .footer__socialMedia {
  display: flex;
  gap: 20px;
}
.footer .footer__text {
  color: rgb(255, 255, 255);
  font-family: "Gilroy Medium";
  font-size: 14px;
  line-height: 22px;
  opacity: 0.3;
}
.footer .footer__rights {
  color: rgb(255, 255, 255);
  font-family: "Gilroy Medium";
  font-size: 14px;
  line-height: 22px;
  opacity: 0.4;
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.popup__bl .popup__bg {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all;
}
.popup__bl .popup__bg.active {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
}
.popup__bl .popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  max-width: 1000px;
  width: 100%;
  height: auto;
  transition: 0.5s all;
  display: flex;
}
.popup__bl .popup__form {
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 30px 0 0px 30px;
  padding: 40px;
}
.popup__bl .popup__form .popup__heading {
  margin-bottom: 85px;
}
.popup__bl .popup__info {
  width: 100%;
  background: rgb(33, 49, 112);
  border-radius: 0 30px 30px 0px;
  padding: 40px;
}
.popup__bl .popup__info .popup__img {
  aspect-ratio: 1.53/1;
  margin-bottom: 30px;
}
.popup__bl .popup__info .popup__img img {
  width: 100%;
  height: 100%;
}
.popup__bl .popup__info .popup__img-mob {
  display: none;
}
.popup__bl .popup__info .popup__title {
  font-size: 25px;
  margin-bottom: 30px;
}
.popup__bl .popup__info .popup__price {
  color: rgb(255, 255, 255);
  font-family: "Gilroy Semibold";
  font-size: 50px;
  line-height: 100%;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 98.97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}
.popup__bl .popup__info .popup__subtitle {
  color: rgba(255, 255, 255, 0.3);
  font-family: "Gilroy Medium";
  font-size: 13px;
  line-height: 16px;
}
.popup__bl .popup.active {
  transform: translate(-50%, -55%) scale(0.8);
  transition: 0.5s all;
}
.popup__bl .close-popup {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(100%, -100%);
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}
.popup__bl .popup label {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column-reverse;
}
.popup__bl .popup .label__text {
  font-family: "Gilroy Semibold";
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(78, 78, 78);
  margin-bottom: 5px;
  margin-left: 30px;
}
.popup__bl .popup input {
  color: rgb(182, 182, 182);
  font-family: "Gilroy Semibold";
  font-size: 17px;
  line-height: 30px;
  padding: 15px 30px;
  height: 60px;
  outline: none;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 20px;
  background: rgb(255, 255, 255);
}
.popup__bl .popup input:focus {
  border: 1px solid rgb(32, 49, 112);
}
.popup__bl .popup input:focus + .label__text {
  color: rgb(32, 49, 112);
}
@media (max-width: 1200px) {
  .header .header__logo {
    width: 19vw;
  }
  .header .header__menu-list {
    gap: 25px;
  }
  .header .header__btn {
    width: 15vw;
  }
  .primary .primary__container {
    padding: 0 40px;
  }
  .course .course__container {
    padding: 0 40px;
  }
  .course .course__info_block {
    padding: 130px 30px 50px;
    gap: 50px;
  }
  .profit .profit__container {
    padding: 0 40px;
  }
  .profit .info-block {
    gap: 50px;
  }
  .profit .info-block .profit__info_item .profit__info_num .item-line {
    width: 325px;
  }
  .points .points__container {
    padding: 0 40px;
  }
  .proposal .proposal__container {
    padding: 0 40px;
  }
  .author .author__container {
    padding: 0 40px;
    gap: 50px;
  }
  .getCourse .getCourse__container {
    padding: 0 40px;
  }
  .practices .practices__container {
    padding: 0 40px;
  }
  .feedback .feedback__container {
    padding: 0 40px;
  }
  .feedback .splide .splide__slide {
    width: 33.3333333333%;
  }
  .program .program__container {
    padding: 0 40px;
  }
  .info .info__container {
    padding: 0 40px;
  }
  .footer .footer__container {
    padding: 30px 40px;
  }
}
@media (max-width: 1024px) {
  .points .points__white_card .points__note .points__note-pic {
    max-width: 138px;
    height: 179px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-10%, 20%);
  }
  .profit .profit__info_block .profit__info_item .profit__info_num .item-line {
    width: 265px;
  }
  .getCourse .getCourse__bottom .getCourse__bottom-slogan {
    width: 55%;
  }
  .getCourse .getCourse__side-text {
    width: 70%;
  }
  .info .info__wrapp {
    gap: 40px;
  }
  .info .info__blue-bl {
    padding: 50px;
  }
  .info .info__gradient-bl {
    padding: 130px 50px 50px;
  }
  .footer .footer__contacts {
    gap: 30px 60px;
  }
  .footer .footer__nav-menu .footer__nav {
    width: 100%;
  }
  .popup__bl .popup {
    max-width: 800px;
  }
  .popup__bl .close-popup {
    transform: translate(-50%, -150%);
  }
}
@media (max-width: 900px) {
  .header {
    padding-top: 20px;
    z-index: 10;
  }
  .header .header__container {
    padding: 0 40px;
  }
  .header .header__logo {
    max-width: 179px;
    width: 100%;
  }
  .header .header__menu-content {
    position: relative;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    text-align: left;
    height: calc(100vh - 100px);
    justify-content: start;
    gap: 10px;
    padding: 30px;
    margin: 30px;
    border-radius: 30px;
  }
  .header .header__menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 0.5s;
    z-index: 10;
  }
  .header .header__menu-mobile.active {
    transform: translateX(0);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
  }
  .header .header__menu-mobile .header__logo-menu {
    display: block;
    position: absolute;
    z-index: 5;
    top: 0%;
    left: 0%;
    transform: translate(15%, 50%);
    max-width: 179px;
    height: auto;
  }
  .header .header__menu-mobile .header__btn-menu {
    display: flex;
    border-radius: 70px;
    background: linear-gradient(140.31deg, rgb(217, 178, 39) 7.148%, rgb(253, 65, 65) 91.752%);
    text-align: center;
    max-width: 308px;
    width: calc(100% - 40px);
    height: 70px;
    color: rgb(255, 255, 255);
    font-family: "Gilroy Semibold";
    font-size: 17px;
    line-height: 30px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 5;
  }
  .header .header__menu-mobile .header__menu-list {
    display: none;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: start;
    gap: 10px;
  }
  .header .header__menu-mobile .header__menu-list .header__menu-item:first-child {
    margin-top: 60px;
  }
  .header .header__menu-mobile .header__menu-list .header__menu-item .header__menu-link {
    color: rgb(32, 49, 112);
    font-family: "Gilroy Medium";
    font-size: 34px;
    font-weight: 500;
    line-height: 46px;
  }
  .header .header__burgerIcon {
    right: 0;
    top: 0;
    z-index: 12;
    display: block;
  }
  .header .header__burgerIcon .menuText {
    display: flex;
  }
  .header .header__burgerIcon .menuIcon {
    display: flex;
  }
  .header .header__btn {
    display: none;
  }
  .profit .profit__info_block {
    gap: 50px;
  }
  .profit .profit__info_block .profit__info_item .profit__info_num .item-line {
    width: 225px;
  }
  .points .points__cards_wrapp {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .primary .primary__subtitle {
    margin-top: 30px;
  }
  .primary .primary__buttons {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
  }
  .primary .primary__buttons .primary__blueBtn {
    max-width: 388px;
    height: 70px;
  }
  .primary .primary__buttons .primary__whiteBtn {
    max-width: 388px;
    height: 70px;
  }
  .primary .primary__details {
    margin: 30px 0;
  }
  .primary .primary__img {
    display: none;
  }
  .primary .primary__img_mob {
    display: block;
    margin: 0 auto;
  }
  .primary .primary__info {
    grid-template-columns: 1fr;
    margin-top: -15px;
    gap: 20px;
  }
  .course {
    margin-top: 80px;
  }
  .course .course__heading {
    margin-bottom: 30px;
  }
  .course .course__info_block {
    flex-direction: column;
    padding: 120px 30px 50px;
    gap: 50px;
  }
  .profit {
    margin-top: 80px;
  }
  .profit .profit__headline {
    margin-bottom: 40px;
  }
  .profit .profit__info {
    margin-bottom: 50px;
  }
  .profit .profit__info_block {
    flex-direction: column;
  }
  .profit .profit__info_block .profit__info_item .profit__info_num .item-line {
    border-bottom: none;
  }
  .profit .profit__blueBtn {
    display: none;
  }
  .profit .profit__blueBtn_mob {
    display: flex;
    max-width: 388px;
    height: 70px;
    margin: 0 auto;
  }
  .points {
    margin-top: 80px;
  }
  .points .points-card {
    padding: 40px 30px 30px;
  }
  .points .points__blue_card .points__btn {
    max-width: 328px;
    height: 70px;
    margin: 0 auto;
  }
  .proposal {
    margin-top: 80px;
  }
  .proposal .proposal__container {
    padding: 0 20px;
  }
  .proposal .proposal__content {
    padding: 50px 30px 30px;
  }
  .proposal .proposal__heading {
    margin-bottom: 30px;
  }
  .proposal .proposal__btn {
    max-width: 328px;
    height: 70px;
  }
  .author {
    margin-top: 80px;
  }
  .author .author__container {
    flex-direction: column;
    gap: 20px;
  }
  .author .author__photo {
    max-width: 280px;
  }
  .author .author__list {
    margin-top: 20px;
  }
  .author .author__btn {
    max-width: 388px;
  }
  .getCourse .getCourse__content {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 40px;
  }
  .getCourse .getCourse__content .getCourse__top .getCourse__title {
    margin-bottom: 35px;
  }
  .getCourse .getCourse__content .getCourse__bottom {
    width: 100%;
    grid-column: 1;
    grid-row: 3;
    align-items: start;
  }
  .getCourse .getCourse__content .getCourse__bottom .getCourse__bottom-slogan {
    width: 70%;
  }
  .getCourse .getCourse__content .getCourse__bottom .getCourse__bottom-img {
    max-width: 80px;
    height: 35px;
  }
  .getCourse .getCourse__content .getCourse__side {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
  }
  .getCourse .getCourse__content .getCourse__side .getCourse__img-one {
    top: 35%;
    right: 53%;
    transform: translate(50%, 50%);
    width: 40px;
    height: 40px;
  }
  .getCourse .getCourse__content .getCourse__side .getCourse__img-two {
    top: 35%;
    right: 50%;
    transform: translate(100%, 50%);
    width: 84px;
    height: 84px;
  }
  .getCourse .getCourse__content .getCourse__side .getCourse__price {
    margin-right: 0;
  }
  .getCourse .getCourse__content .getCourse__side .getCourse__btn {
    max-width: 328px;
    height: 70px;
  }
  .getCourse .getCourse__content .getCourse__side-text {
    display: none;
  }
  .practices {
    margin-top: 80px;
  }
  .practices .practices__content {
    flex-direction: column;
    margin-top: 30px;
  }
  .practices .practices__text {
    margin-top: 20px;
  }
  .feedback .splide .splide__list .splide__slide {
    width: 50%;
  }
  .feedback .splide .splide__list .splide__slide .feedback__slide-img {
    max-width: 150px;
  }
  .feedback .splide .splide__arrow--next {
    top: inherit;
    bottom: -20%;
    right: 50%;
    transform: translate(120%, 0%);
  }
  .feedback .splide .splide__arrow--prev {
    top: inherit;
    bottom: -20%;
    right: 50%;
    transform: translate(20%, 0%);
  }
  .program {
    margin-top: 170px;
  }
  .program .program__content {
    padding: 30px;
  }
  .program .accordion {
    padding: 30px 0;
  }
  .program .accordion:first-child {
    padding: 0;
    padding-bottom: 30px;
  }
  .program .accordion:last-child {
    padding: 0;
    padding-top: 30px;
  }
  .info {
    margin-top: 80px;
  }
  .info .info__wrapp {
    gap: 50px;
    flex-direction: column;
  }
  .info .info__blue-bl {
    border-radius: 40px;
  }
  .info .info__gradient-bl {
    border-radius: 40px;
  }
  .info .info__num {
    margin-bottom: 30px;
  }
  .info .info__btn {
    max-width: 328px;
    height: 70px;
  }
  .footer .footer__top {
    margin-bottom: 30px;
  }
  .footer .footer__btn {
    display: none;
  }
  .footer .footer__contacts {
    grid-template-columns: 1fr;
  }
  .footer .footer__btn-mob {
    display: flex;
  }
  .popup__bl .popup {
    flex-direction: column;
    max-width: 368px;
    height: 100%;
  }
  .popup__bl .popup label {
    margin-bottom: 15px;
  }
  .popup__bl .popup button {
    max-width: 388px;
    height: 70px;
    margin: 0 auto;
  }
  .popup__bl .close-popup {
    transform: translate(-50%, 50%);
    filter: none;
  }
  .popup__bl .popup__form {
    padding: 40px 30px;
    border-radius: 30px 30px 0px 0px;
  }
  .popup__bl .popup__form .popup__heading {
    margin-bottom: 30px;
  }
  .popup__bl .popup__info {
    padding: 30px;
    border-radius: 0px 0px 30px 30px;
  }
  .popup__bl .popup__info .popup__img {
    display: none;
  }
  .popup__bl .popup__info .popup__img-mob {
    display: flex;
    margin-bottom: 20px;
    aspect-ratio: 2.37/1;
  }
  .popup__bl .popup__info .popup__img-mob img {
    width: 100%;
    height: 100%;
  }
  .popup__bl .popup__info .popup__title {
    margin-bottom: 20px;
  }
  .footer .footer__text {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .header .header__container {
    padding: 0 20px;
  }
  .header .header__logo {
    width: 46vw;
  }
  .primary .primary__container {
    padding: 0 20px;
  }
  .course .course__container {
    padding: 0 20px;
  }
  .course .course__video video {
    border-radius: 30px;
  }
  .course .course__info {
    border-radius: 40px;
  }
  .course .course__info_block {
    margin-top: -100px;
  }
  .profit .profit__container {
    padding: 0 20px;
  }
  .points .points__container {
    padding: 0 20px;
  }
  .points .points-card {
    padding: 40px 30px 20px;
  }
  .points .points__white_card .points__note {
    padding: 20px;
    overflow: hidden;
  }
  .points .points__white_card .points__note .points__note-pic {
    max-width: 195px;
    left: 50%;
    transform: translate(-50%, 35%);
  }
  .points .points__white_card .points__note .points__note-desc {
    margin-left: 0%;
    margin-bottom: 30%;
  }
  .points .points__blue_card .points__img-one {
    transform: translate(-140%, -25%);
  }
  .points .points__blue_card .points__img-two {
    transform: translate(15%, 30%);
  }
  .author .author__container {
    padding: 0 20px;
  }
  .getCourse .getCourse__container {
    padding: 0 20px;
  }
  .getCourse .getCourse__content .getCourse__side .getCourse__img-one {
    top: 35%;
    right: 40%;
    transform: translate(100%, 50%);
    width: 40px;
    height: 40px;
  }
  .getCourse .getCourse__content .getCourse__side .getCourse__img-two {
    top: 35%;
    right: 30%;
    transform: translate(100%, 50%);
    width: 84px;
    height: 84px;
  }
  .getCourse .getCourse__content .getCourse__bottom .getCourse__bottom-slogan {
    font-size: 15px;
    line-height: 20px;
  }
  .practices .practices__container {
    padding: 0 20px;
  }
  .practices .practices__heading {
    width: 100%;
  }
  .practices .practices__info {
    padding: 40px 20px;
  }
  .feedback .feedback__container {
    padding: 0 20px;
  }
  .feedback .splide .splide__arrow--next {
    top: auto;
    bottom: 0%;
    left: 50%;
    transform: translate(20%, 180%);
  }
  .feedback .splide .splide__arrow--prev {
    top: auto;
    left: 50%;
    transform: translate(120%, -180%);
    bottom: 0%;
  }
  .feedback .splide .splide__slide {
    width: 100%;
  }
  .program .program__container {
    padding: 0 20px;
  }
  .info .info__container {
    padding: 0 20px;
  }
  .info .info__blue-bl {
    padding: 40px 30px;
  }
  .info .info__gradient-bl {
    padding: 120px 30px 40px;
  }
  .footer .footer__container {
    padding: 50px 20px;
  }
  .footer .footer__logo {
    max-width: 179px;
    width: 37vw;
  }
  .footer .footer__rights {
    padding: 20px 0;
    font-size: 13px;
    text-align: center;
  }
  .footer .footer__text {
    font-size: 13px;
  }
}
@media (max-width: 390px) {
  .header .header__burgerIcon .menuText {
    width: 28vw;
    max-width: 110px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .info .info__blue-bl {
    padding: 40px 20px;
  }
  .info .info__gradient-bl {
    padding: 120px 20px 40px;
  }
  .footer .footer__container {
    padding: 50px 20px;
  }
}/*# sourceMappingURL=main.css.map */